<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilos.css" />
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">
  <title>Formulario de contacto</title>
</head>

  <body class="">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid ms-2 me-2">
      <a class="navbar-brand" href="../../index.html">
        <img src="imagenes/logo_workflix.png"  alt="WorkFlix" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="quienessomos.html">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="faq.html"> Preguntas Frecuentes </a>
          </li>
          <li class="nav-item">
            <a href="contacto.html" class="nav-link">Contacto</a>
          </li>
          
            <a href="formularioLogin.html" type="button" class="btn btn-outline-success me-2 mt-1">Ingresar</a>
            <a href="formularioRegistro.html" type="button" class="btn btn-dark mt-1">Registrarse</a>
          
        </ul>
        </div>
      </div>
    </nav>
  <!--Fin Navbar-->

  <div class="center-form">
  <form action="" method="post">
    <div class="form">
      <h2 class="encabezado-2">Formulario de contacto</h2>
      <h3 class="parrafo">Escríbanos y en breve nos pondremos en contacto</h3>
    
      <div class="controls">
        <label for="nombre">Nombre/s</label>
        <input type="text" id="nombre" name="nombre" pattern=[A-Z\sa-z]{3,20} required>
        <div class="no-valido text-danger d-none"></div>
      </div>

      <div class="controls">
        <label for="apellido">Apellido/s</label>
        <input type="text" id="apellido" name="apellido" pattern=[A-Z\sa-z]{3,20} required>
        <div class="no-valido text-danger d-none"></div>
      </div>
    
      <div class="controls">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>
        <div class="no-valido text-danger d-none"></div>
      </div>
    
      <div class="controls">
        <label for="asunto">Asunto</label>
        <input type="text" id="asunto" name="asunto" required pattern=[A-Za-z0-9\s]{8,60}>
        <div class="no-valido text-danger d-none"></div>
      </div>

      <div class="controls">
        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" name="mensaje" required></textarea>
        <div class="no-valido text-danger d-none"></div>
      </div>
    
      <button class="boton-form" type="button" onclick="return validarFormulario()">Enviar</button>
    </div>
  </form>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span> WORKFLIX:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div >

      
      <a href="https://github.com/grupo-dw1-ispc/fullstack-project/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
    <div class="container text-center text-md-start mt-5">
      
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <a href="../../index.html">
            <img src="imagenes/logo_workflix.png" alt="workflix" width="40%">
          </a>
          <p>
            WorkFlix es una plataforma donde puede encontrar profesionales de confianza para resolver cualquier inconveniente que tenga en su casa u oficina.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Sobre nosotros
          </h6>
          <p>
            <a href="quienessomos.html" class="text-reset"> ¿Quienes somos? </a>
          </p>
          <p>
            <a href="faq.html" class="text-reset"> Preguntas Frecuentes </a>
          </p>
        </div>
        <!-- Grid column -->

     <!-- Grid column -->
     <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
      <p><i class="fas fa-home me-3"></i> Argentina </p>
      <p>
        <i class="fas fa-envelope me-3"></i>
       <a href="contacto.html"  class="text-reset"> Escribinos</a> 
      </p>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->


        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Acceder a workflix
          </h6>
          <p>
            <a href="formularioLogin.html" type="button" class="btn btn-outline-success me-2 mt-1 mb-2 btn-lg btn-sm">Ingresar </a>
            <a href="formularioRegistro.html" type="button" class="btn btn-dark mt-1 mb-2 btn-sm">Registrarse</a>
          </p>
        </div>
        <!-- Grid column -->

      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
</div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold"> Workflix.com </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




<script src='js/validarContacto.js'></script>
</body>
</html>

